In [1]:
list=[1,2,3,"hello","shara",8.0]
list.append("rajesh")
print(list)
list.insert(2,"inserted")
print(list)
list.pop()
print(list)
list.remove("inserted")
print(list)
list.reverse()
print(list)
num_list=[2,5,3,1,2.3,4,5,6]
num_list.sort()
print(num_list)
num_list.extend([3,5])
print(num_list)

[1, 2, 3, 'hello', 'shara', 8.0, 'rajesh']
[1, 2, 'inserted', 3, 'hello', 'shara', 8.0, 'rajesh']
[1, 2, 'inserted', 3, 'hello', 'shara', 8.0]
[1, 2, 3, 'hello', 'shara', 8.0]
[8.0, 'shara', 'hello', 3, 2, 1]
[1, 2, 2.3, 3, 4, 5, 5, 6]
[1, 2, 2.3, 3, 4, 5, 5, 6, 3, 5]

                                            *set*

In [2]:
set_data={2,4,5,3,4,3,2,2,4}
print(set_data)
set_data.add(3)
print(set_data)
set_data.add(9)
print(set_data)
set_data.add("hello")
print(set_data)
print(type(set_data))

{2, 3, 4, 5}
{2, 3, 4, 5}
{2, 3, 4, 5, 9}
{2, 3, 4, 5, 9, 'hello'}
<class 'set'>

                        *strings*

In [3]:
str="this is a example of the string"
print(str)
print(str.upper())
print(str.lower())
print(str.split())

this is a example of the string
THIS IS A EXAMPLE OF THE STRING
this is a example of the string
['this', 'is', 'a', 'example', 'of', 'the', 'string']

                                                *creating basic functions*

In [4]:
def hello():
    print("this is hello\n")
hello()
hello()

this is hello

this is hello

In [5]:
#taking n number of times as a parameter 
def n_times_hello(n):
    i=0
    while(i<n):
        print("this is hello\n")
        i+=1
n_times_hello(5)

this is hello

this is hello

this is hello

this is hello

this is hello

In [8]:
#adding default parameter

def info(name="shara",age=19):
    print(f"name:{name}\nage:{age}")
info()

name:shara
age:19

In [9]:
#adding multiple values in the input
def add(*numbers):
    sum=0
    for num in numbers:
        sum+=num
    print(sum)
add(2,3,4,5)

14

                                                        *factorial *

In [10]:
def fact(numb):
    if (numb==1 or numb==0):
        return 1
    else:
        return numb*fact(numb-1)
res=fact(4)
print(res)

24